<h1>Create User</h1>
<form method="post" action="/user">
  <dl>
    <dt>
      <label for="email">Email</label>
      <% if email_error %><label for="email" class="error">Email error!</label><% end %>
    </dt>
    <dd><input name="email" id="email" value="<%=email%>" /></dd>
    <dt>
      <label for="password">Password</label>
      <% if password_error %><label for="password" class="error">Password error!</label><% end %>
    </dt>
    <dd><input name="password" id="password" type="password" /></dd>
    <dd><input type="submit" value="sign up!" /></dd>
  </dl>
</form>
